mat-card {
  margin: 16px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {

  display: block;
 
}


mat-list {
  margin-top: 16px;
}

mat-icon {
  font-size: 20px;
  color: #ff0000; 
  vertical-align: middle;
  cursor: pointer;
  margin-left: 15px;
}

mat-list-item {
  display: flex;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
}