<h2 mat-dialog-title>{{tituloAccion}} Deposito</h2>

<mat-dialog-content>

    <form [formGroup]="formularioDeposito">
        <mat-grid-list cols="1" rowHeight="80px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput autocomplete="off" formControlName="codigo">
                    <mat-icon matSuffix>label</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput autocomplete="off" formControlName="direccion">
                    <mat-icon matSuffix>short_text</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Ciudad</mat-label>
                    <input matInput autocomplete="off" formControlName="ciudad">
                    <mat-icon matSuffix>short_text</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Pais</mat-label>
                    <input matInput autocomplete="off" formControlName="pais">
                    <mat-icon matSuffix>short_text</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Capacidad Max.</mat-label>
                    <input matInput autocomplete="off" formControlName="capacidadMaxima">
                    <mat-icon matSuffix>numbers</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            
        </mat-grid-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" [disabled]="formularioDeposito.invalid" (click)="Editardeposito()">{{botonAccion}}</button>
</mat-dialog-actions>


